.login {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  /* transparent dark overlay */
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  backdrop-filter: blur(5px);
}

/* login box */
.login-popup-container {
  width: 400px;
  background: #fff;
  padding: 25px 30px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  gap: 15px;
  animation: fadeIn 0.3s ease-in-out;
}

/* title */
.login-popup-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-popup-title h2 {
  margin: 0;
}

/* inputs */
.login-popup-inputs input {
  width: 100%;
  padding: 10px;
  margin: 6px 0;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none;
  box-sizing: border-box;
}

/* button */
.login-popup-container button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: tomato;
  color: white;
  cursor: pointer;
}
.login-popup-container button:hover {
  background:#e9431f;
  transform:translateY(-1px);
}

/* checkbox section */
.login-popup-condition {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
}

.error-msg {
  font-size: 13px;
  text-align: center;
  margin: 5px 0;
  color: #ff4d4f;
  font-weight: 500;
}

.Login-text {
  color: #ff4d4f;
  cursor: pointer;
}

.close-icon {
  width: 18px;
  height: 18px;
  cursor: pointer;
  transition: 0.2s;
}

.close-icon:hover {
  transform: rotate(90deg);
}

.password-msg{
  color:#ff4d4f;
  font-size:13px;
  font-weight:600;
}

/* animation */
@keyframes fadeIn {
  from {
    transform: scale(0.9);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media (max-width:1050px) {
  .login-popup-container {
    width: 350px;
  }
}
@media(max-width:480px){

  .login-popup-container{
    width:90%;
    padding:20px;
  }
}